.home-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    min-height: 100vh;
}

.home-header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #3F51B5;
    color: white;
    border-radius: 5px;
}

.card {
    width: 100%;
    min-height: 75vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
}

.home-welcome {
    background-color: #E7F3FE;
    padding: 20px;
    border: 1px solid #B2D4E6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.home-welcome h2 {
    color: #4A90E2;
}

.home-welcome-message {
    color: #333;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-description {
    color: #333;
    margin-bottom: 20px;
}

.home-table-section {
    padding: 2vh;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}


